<rewrite>
  <rules>
    <rule name="RemoveIndexHtml" stopProcessing="true">
      <match url="^(.*)/$" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
    </rule>
  </rules>
</rewrite>
